.wp-block-block-test-image-list {
	&__slider--img.list {
		margin-bottom: 50px;
	}

	&.block-editor-block-list__block.wp-block {
		max-width: 960px;
		margin: 0 auto;
		margin-bottom: 100px;

		img {
			height: 720px;
			object-fit: cover;
		}
	}

	ol.flickity-page-dots {
		margin: 0;
		padding-left: 0;
		bottom: -45px;
	}
}
