.wp-block-block-test-image-list {
	&.block-editor-block-list__block.wp-block {
		max-width: 960px;
		margin: 0 auto;
		margin-bottom: 150px;

		img.list {
			margin-bottom: 50px;
		}
	}

	ol.flickity-page-dots {
		margin: 0;
		padding-left: 0;
		bottom: -50px;
	}
}
