.editor-styles-wrapper {
	background-color: #fff !important;
	img {
		height: 720px !important;
		object-fit: cover;
	}
}

.edit-post-visual-editor__post-title-wrapper {
	display: flex;
	justify-content: center;
}

.wp-block-block-test-image-list {
	margin-top: 0 !important;
}

.editor-styles-wrapper ol {
	margin: 0 !important;
	padding-left: 0 !important;
}
